---
import type { Lang } from "@/lib/utils";
import "@/styles/global.scss";

interface Props {
  title: string
  description: string
  lang: Lang
}

const { title, description, lang } = Astro.props;

const roles = {
  'en': 'Backend Developer',
  'pt-br': 'Desenvolvedor Backend'
}

const role = roles[lang] || roles['en']
---

<!-- Global Metadata -->
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link
  rel="stylesheet"
  type="text/css"
  href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css"
/>

<!-- Primary Meta Tags -->
<title>{title} | Felipe Heredia - {role}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />
<meta name="generator" content={Astro.generator} />
