---
import BaseHead from "@/components/BaseHead.astro";
import type { Lang } from "@/lib/utils";
import { footerLinks } from "@/lib/utils";

interface Props {
  title: string;
  description: string;
  lang: Lang;
}

const { title, description, lang } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} lang={lang} />
  </head>

  <body>
    <slot />

    <footer class="global-footer">
      <p class="copyright">
        ©
        {new Date().getFullYear()}
        · Felipe Heredia
      </p>

      <div class="links">
        {
          footerLinks.map(link => (
            <a href={link.href} target="_blank">
              {link.iconClass && <i class={link.iconClass} />}
              {link.lucideIcon && <link.lucideIcon width="20px" stroke-width="1" />}
            </a>
          ))
        }
      </div>
    </footer>
  </body>
</html>
