---
import { getRelativeLocaleUrl } from "astro:i18n";
import { Calendar, Tag, Clock } from "@lucide/astro";

import "@/styles/post.scss";
import BaseHead from "@/components/BaseHead.astro";
import { readingTime, formatDate, footerLinks, PostTag, type Lang } from "@/lib/utils";

interface Props {
  title: string;
  description: string;
  publish_date: string;
  tag: PostTag;
  content: string;
  lang: Lang;
}

const { title, description, publish_date, tag, content, lang } = Astro.props;
---

<!doctype html>
<html lang={lang}>
  <head>
    <BaseHead title={title} description={description} lang={lang} />
  </head>

  <body>
    <main>
      <article>
        <header class="article-head">
          <h1 class="title">{title}</h1>

          <div class="info">
            <span>
              <Calendar width="14px" />
              <time datetime={publish_date}>
                {formatDate(new Date(publish_date), "MMM dd, y", lang)}
              </time>
            </span>

            <span class="uppercase">
              <Tag width="14px" />
              {tag}
            </span>

            <span>
              <Clock width="14px" />
              {readingTime(content, lang)}
            </span>
          </div>

          <a href={getRelativeLocaleUrl(lang, "/")}>
            <figure class="avatar">
              <img
                width="145px"
                height="145px"
                src="https://avatars.githubusercontent.com/u/50281523?v=4"
                alt="Felipe Heredia, depicted in the image"
              />
            </figure>
          </a>
        </header>

        <hr />

        <section class="article-content-container">
          <div class="article-content">
            <slot />
          </div>
        </section>
      </article>

      <footer class="global-footer">
        <a class="copyright" href={getRelativeLocaleUrl(lang, "/")}>
          ©
          {new Date().getFullYear()}
          · Felipe Heredia
        </a>

        <div class="links">
          {
            footerLinks.map(link => (
              <a href={link.href} target="_blank">
                {link.iconClass && <i class={link.iconClass} />}
                {link.lucideIcon && <link.lucideIcon width="20px" stroke-width="1" />}
              </a>
            ))
          }
        </div>
      </footer>
    </main>
  </body>
</html>
